@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    background-color: #DDD0C8;
}

main#principal {
    font-size: 20pt;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: #363636;
    text-transform: uppercase;
    text-align: center;
}

main#principal ul {
    list-style: none;
}

main#principal li {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

div#menu a {
    text-decoration: none;
    color: #363636;
}

div#menu li:hover {
    text-decoration: underline;
}

div#boas-vindas {
    margin-top: 60px;
    text-align: center;
}

div#boas-vindas p {
  font-family: "Cause", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

div#produtos {
    text-align: center;
    margin-top: 60px;
    padding: 0px 200px;
}

.item p {
    margin: 2px;
}

.item {
    display: block;
    display: inline-block;
    margin: 50px;
}

.item img {
    border-radius: 5px;
}

footer#rodape {
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #363636;
    text-align: center;
    color: white;
    font-size: 10pt;
    padding: 10px 0px;
}

h2#info {
    margin: 5px 0px 10px 0px;
}

.social {
    display: inline-block;
    margin: 0px 40px;
}

.social a {
    text-decoration: none;
    color: white;
    margin: 1px;
}

.social a:hover {
    text-decoration: underline;
}