@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    background-color: #DDD0C8;
}

main#principal {
    font-size: 20pt;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: #363636;
    text-transform: uppercase;
    text-align: center;
}

main#principal ul {
    list-style: none;
}

main#principal li {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

div#menu li:hover {
    text-decoration: underline;
}

div#boas-vindas {
    margin-top: 60px;
    text-align: center;
}


